<ion-view title="{{appTitle}} Account Detail Tab" ng-controller="LoginCtrl">
<!--  
      Filename: www/templates/account-detail.html
      Purpose: detail record view of the Accounts
 
  This template loads for the 'tab.account-detail' state (app.js)
  'friend' is a $scope variable created in the AccountDetailCtrl controller (controllers.js)
  The AccountDetailCtrl pulls data from the Accounts service (service.js)
  The Accounts service returns an array of account item data
-->
  <ion-content has-header="true" padding="true">
    <div class="list">
      <label class="item item-input">
        <i class="icon ion-cloud"></i>&nbsp;&nbsp;Account ID:&nbsp;{{account.id}}
      </label>

      <label class="item item-input item-stacked-label">
        <i class="icon ion-person"></i>
        <span class="input-label">&nbsp;&nbsp;Account Name:</span>
        <br>{{account.name}}</br>
    	</label>

      <label class="item item-input item-stacked-label">
        <i class="icon ion-android-note"></i>
        <span class="input-label">&nbsp;&nbsp;Account Detail:</span>
        <br>{{account.details}}</br>
      </label>
    </div>
<!--         <a class="button icon ion-home" href="#/tab/accounts"> Accounts</a>
 -->
  </ion-content>
</ion-view>
