<ion-view title="Contact Detail">
<!--  
      Filename: www/templates/contact-detail.html
      Purpose: detail record view of the Contacts
 
  This template loads for the 'tab.contact-detail' state (app.js)
  'contact' is a $scope variable created in the ContactDetailCtrl controller (controllers.js)
  The ContactDetailCtrl pulls data from the Contacts service (service.js)
  The Contacts service returns an array of contact item data
-->
  <ion-content has-header="true" padding="true">
<!--     <a class="button icon ion-home" href="#/tab/contacts"> Contacts</a>
 -->
  </ion-content>
</ion-view>
