<ion-view title="{{appTitle}} Donation Tab" ng-controller="LoginCtrl">
<!--  
      Filename: www/templates/donation-item.html
      Purpose: detail record view of the Donations
 
  This template loads for the 'tab.donation-item' state (app.js)
  'donation' is a $scope variable created in the DonationDetailCtrl controller (controllers.js)
  The DonationCtrl pulls data from the Donations service (service.js)
  The Donations service returns an array of donation item data
-->
  <ion-content has-header="true" padding="true">
	  <div class="list">
      <label class="item item-input item-stacked-label">
        <i class="icon ion-cloud"></i>
        <span class="input-label">Donation ID</span>
        <input type="text" placeholder="{{donation.id}}"></input>
      </label>

      <label class="item item-input item-stacked-label">
        <i class="icon ion-person"></i>
        <span class="input-label">Donor Name</span>
        <input type="text" placeholder="user name"
          value="{{donation.name}}"></input>
      </label>

      <label class="item item-input item-stacked-label">
        <i class="icon ion-android-more"></i>
        <span class="input-label">Item Quantity</span>
        <input type="text" placeholder="1-{{donation.id}}"></input>
      </label>

      <label class="item item-input item-stacked-label">
        <i class="icon ion-checkmark-circled"></i>
        <span class="input-label">Item Name</span>
        <input type="text" placeholder="friend name"
        	value="{{donation.item}}"></input>
      </label>

      <label class="item item-input item-stacked-label">
        <i class="icon ion-social-usd"></i>
        <span class="input-label">Item Amount</span>
        <input type="text" placeholder="$xxx.xx"></input>
      </label>

    </div>
<!--         <a class="button icon ion-home" href="#/tab/donations"> Donations</a>
 -->
  </ion-content>
</ion-view>
