<ion-view title="{{appTitle}} Friend Tab" ng-controller="LoginCtrl">
<!--  
      Filename: www/templates/friend-detail.html
      Purpose: detail record view of the Friends
 
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
  <ion-content has-header="true" padding="true">

	  <div class="list">
        <label class="item item-input item-stacked-label">
          <i class="icon ion-android-contact"></i>
          <span class="input-label">Friend Name</span>
          <input type="text" placeholder="friend name" value="{{friend.name}}">
        </label>

        <label class="item item-input item-stacked-label">
          <i class="icon ion-email"></i>
          <span class="input-label">Email</span>
          <input type="text" placeholder="your@email.com">
        </label>

        <label class="item item-input item-stacked-label">
          <i class="icon ion-android-call"></i>
          <span class="input-label">Phone</span>
          <input type="text" 
          	placeholder="(214)215-1234">
        </label>
      </div>
<!--       <a class="button icon ion-home" href="#/tab/friends"> Friends</a>
 -->
  </ion-content>
</ion-view>
