<ion-view title="{{appTitle}} Lead Tab" ng-controller="LoginCtrl">
<!--  
      Filename: www/templates/lead-detail.html
      Purpose: detail record view of the Leads
 
  This template loads for the 'tab.lead-detail' state (app.js)
  'lead' is a $scope variable created in the LeadsCtrl controller in file (controllers.js)
  The LeadsCtrl pulls data from the Leads service (service.js)
  The Leads service returns an array of lead data
-->  
  <ion-content has-header="true" padding="true">
	  <div class="list">
        <label class="item item-input item-stacked-label">
          <i class="icon ion-cloud"></i>
          <span class="input-label">Lead ID</span>
          <br>{{lead.id}}</br>
        </label>

        <label class="item item-input item-stacked-label">
          <i class="icon ion-android-contact"></i>
          <span class="input-label">Lead Name</span>
          <br>{{lead.name}}</br>
        </label>

        <label class="item item-input item-stacked-label">
          <i class="icon ion-email"></i>
          <span class="input-label">Email</span>
          <input type="text" placeholder="{{lead.name}}@some-mail.com"></input>
        </label>

        <label class="item item-input item-stacked-label">
          <i class="icon ion-android-call"></i>
          <span class="input-label">Phone</span>
          	<input type="text" placeholder="(214)215-1234"></input>
        </label>
      </div>
  </ion-content>
</ion-view>
