<ion-view title="{{appTitle}} Leads Tab" ng-controller="LoginCtrl">
<!--  
      Filename: www/templates/tab-leads.html
      Purpose: master view of the Leads records
 -->
	<ion-content class="padding">
		<ion-list>
			<ion-item ng-repeat="lead in leads" href="#/tab/lead/{{lead.id}}">
				<div class="list">
					<label class="item item-input">
						<i class="icon ion-cloud">&nbsp;&nbsp;ID:&nbsp;{{lead.id}}</i>
					</label>
					<label class="item item-input">
						<i class="icon ion-person">&nbsp;&nbsp;Name:&nbsp;{{lead.name}}</i>
					</label>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>